@import "tailwindcss";
@layer components{
    .todoCont{
        @apply py-2 px-5 border rounded-md flex gap-2;
    }
    .im{
        @apply h-4 w-4 rounded-full bg-red-500
    }
     .normal{
        @apply h-4 w-4 rounded-full bg-yellow-500
    }
     .optional{
        @apply h-4 w-4 rounded-full bg-green-500
    }
}