@import "tailwindcss";
@layer components{
    .todoCont{
        @apply py-2 px-5 border rounded-md;
    }
    .im{
        @apply h-18 w-18 rounded-full bg-red-500
    }
     .normal{
        @apply h-18 w-18 rounded-full bg-yellow-500
    }
     .optional{
        @apply h-18 w-18 rounded-full bg-green-500
    }
}