/* :root{
    --Brand-color : rgb(209, 128, 23),chocolate , brown;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.cont{
    height: 100vh;
    width: 100%;

}
div.cont > nav{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    background-image: linear-gradient(60deg ,rgb(209, 128, 23),chocolate , brown);
    color: snow;
}
div.cont > nav >button{
    padding: 5px 12px;
    text-align: center;
    color: snow;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.cont > div.cont-model{
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    
}
div.cont > div.toggleForm{
    display: flex;
}
div.cont > div.cont-model > div.model{
    /* height: 100%; */
    width: 60%;
    margin: 0 auto;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.cont > div.cont-model > div.model >h1{
    background-image: linear-gradient(60deg ,rgb(209, 128, 23),chocolate , brown);
    background-clip: text;
    color: transparent;
}
form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
form >input,select{
    padding: 5px 0;
    border-radius: 4px;
}
form > button{
    padding: 6px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-image: linear-gradient(60deg ,rgb(209, 128, 23),chocolate , brown);
    color: snow;
    transition: 600ms;
}
form >button:hover{
    transform:translateY(3px);
}